@model CvHavuzu.Web.Models.Resume

@{
    ViewData["Title"] = "Özgeçmiş Ayrıntıları";
}

<h2>Özgeçmiş Ayrıntıları</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BirthDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ResumeFile)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ResumeFile)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Skills)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Skills)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ShowInList)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShowInList)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Approved)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Approved)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UpdateDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UpdateDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Consultant)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Consultant.Fullname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Department)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Department.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EducationLevel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EducationLevel.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Profession)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Profession.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ResumeStatus)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ResumeStatus.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Teacher)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Teacher.Fullname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.University)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.University.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Düzenle</a> |
    <a asp-action="Index">Listeye geri dön</a>
</div>

@section Scripts {
    <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.1.1/js/dataTables.responsive.min.js"></script>
    <script>
    $(document).ready(function () {
        $('#tblRecords').DataTable({
            "responsive": true,
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.13/i18n/Turkish.json"
            }
        });
    });
    </script>

}
