@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="@ViewBag.Setting.SeoDescription">
    <meta name="keywords" content="@ViewBag.Setting.SeoKeywords">

    <title>@ViewData["Title"] - CvHavuzu</title>

    <!-- Styles -->
    <link href="/assets/css/app.min.css" rel="stylesheet">
    <link href="/assets/css/custom.css" rel="stylesheet">

    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Raleway&subset=latin-ext:100,300,400,500,600,800%7COpen+Sans:300,400,500,600,700,800%7CMontserrat:400,700' rel='stylesheet' type='text/css'>

    <!-- Favicons -->
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="icon" href="/assets/img/favicon.ico">
    <environment names="Development">
        <!-- Styles -->
        <link href="/assets/css/app.min.css" rel="stylesheet">
        <link href="/assets/css/custom.css" rel="stylesheet">
    </environment>
    <environment names="Staging,Production">
        <!-- Styles -->
        <link href="/assets/css/app.min.css" rel="stylesheet">
        <link href="/assets/css/custom.css" rel="stylesheet">
    </environment>
    @Html.Raw(JavaScriptSnippet.FullScript)
</head>

<body class="nav-on-header smart-nav bg-alt">

    <!-- Navigation bar -->
    <nav class="navbar">
        <div class="container">

            <!-- Logo -->
            <div class="pull-left">
                <a class="navbar-toggle" href="#" data-toggle="offcanvas"><i class="ti-menu"></i></a>

                <div class="logo-wrapper">
                    <a class="logo" href="/"><img src="/uploads/@ViewBag.Setting.Logo" alt="logo"></a>
                    <a class="logo-alt" href="/"><img src="/uploads/@ViewBag.Setting.Logo" alt="logo-alt"></a>
                </div>

            </div>
            <!-- END Logo -->
            <!-- User account -->
            <div class="pull-right">

                <div class="dropdown user-account">
                   
                    @await Html.PartialAsync("_LoginPartial")
                </div>

            </div>
            <!-- END User account -->
            <!-- Navigation menu -->
            <ul class="nav-menu">
                <li>
                    <a class="active" href="/">Anasayfa</a>
                </li>
                <li>
                    <a href="/MyResume">Özgeçmişim</a>
                </li>
                <li>
                    <a href="/iletisim">İletişim</a>
                </li>
                
            </ul>
            <!-- END Navigation menu -->

        </div>
    </nav>
    <!-- END Navigation bar -->
    @RenderBody()
    <!-- Site footer -->
    <footer class="site-footer">

        <!-- Top section -->
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <h6>Hakkında</h6>
                    <p class="text-justify">@Html.Raw(ViewBag.Setting.FooterText)</p>
                </div>

                <div class="col-xs-6 col-md-3">
                    <h6>Bağlantılar</h6>
                    <ul class="footer-links">
                        <li><a href="page-about.html">Hakkında</a></li>
                        <li><a href="page-typography.html">Özgeçmişim</a></li>
                        <li><a href="page-faq.html">Kullanım Koşulları</a></li>
                        <li><a href="page-typography.html">Gizlilik Prensipleri</a></li>
                        <li><a href="page-contact.html">İletişim</a></li>
                    </ul>
                </div>

                <div class="col-xs-6 col-md-3">
                    <h6>Son Özgeçmişler</h6>
                      <ul>
                          @foreach (var item in ViewBag.Resumes)
                          {
                   <li>@item.FirstName @item.LastName-(@(item.Profession != null ? item.Profession.Name : string.Empty))</li> 
                   
                          }
                          
                      </ul>

                </div>
            </div>

            <hr>
        </div>
        <!-- END Top section -->
        <!-- Bottom section -->
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-6 col-xs-12">
                    <p class="copyright-text">Copyrights &copy; @DateTime.Now.Year Her Hakkı Saklıdır-<a href="http://www.bilisimegitim.com" target="_blank">Bilişim Eğitim Merkezi</a>.</p>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12">
                    <ul class="social-icons">
                        <li><a class="facebook" href="@ViewBag.Setting.Facebook"  target="_blank"><i class="fa fa-facebook"></i></a></li>
                        <li><a class="twitter" href="@ViewBag.Setting.Twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>
                        <li><a class="linkedin" href="@ViewBag.Setting.LinkedIn" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- END Bottom section -->

    </footer>
    <!-- END Site footer -->
    <!-- Back to top button -->
    <a id="scroll-up" href="#"><i class="ti-angle-up"></i></a>
    <!-- END Back to top button -->
    <!-- Scripts -->
    <environment names="Development">
        <script src="~/assets/js/app.min.js"></script>
        <script src="~/assets/js/custom.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/assets/js/app.min.js"></script>
        <script src="~/assets/js/custom.js"></script>
    </environment>
    @RenderSection("Scripts", required: false)
    @Html.Raw(ViewBag.Setting.CustomHtml)
</body>
</html>