@model IEnumerable<CvHavuzu.Web.Models.Teacher>

@{
    ViewData["Title"] = "Eğitmenler";
}
<h2>Eğitmenler</h2>
<br />
<p>
    <a class="btn btn-default" asp-action="Create">Eğitmen Ekle</a>
</p>
<br />
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Fullname)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fullname)
            </td>
            <td>
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Düzenle</a> 
                <a class="btn btn-default" asp-action="Details" asp-route-id="@item.Id">Detaylar</a> 
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Sil</a>
            </td>
        </tr>
}
    </tbody>
</table>
