@model CvHavuzu.Web.Models.ApplicationUser

@{
    ViewData["Title"] = "Kullanıcı Detayları";
}

<h2>Kullanıcı Detayları</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Kullanıcı Adı:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt>
            Normalize Kullanıcı Adı:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NormalizedUserName)
        </dd>
        <dt>
            E-Posta:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            Normalize E-Posta:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NormalizedEmail)
        </dd>
        <dt>
            E-Posta Doğrulandı mı?
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmailConfirmed)
        </dd>
        <dt>
            Telefon Numarası:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt>
            Telefon Numarası Doğrulandı mı?
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PhoneNumberConfirmed)
        </dd>
        <dt>
            İki Aşamalı Doğrulama:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TwoFactorEnabled)
        </dd>
        <dt>
            Kilitleme Sonu:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LockoutEnd)
        </dd>
        <dt>
            Kilitleme Aktif mi?
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LockoutEnabled)
        </dd>
        <dt>
            Erişim Başarısızlığı Sayısı:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AccessFailedCount)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Listeye geri dön</a>
</div>
