@{
    ViewData["Title"] = ViewBag.Setting.SeoTitle;
}

<!-- Page header -->
<header class="page-header bg-img size-lg">
    <div class="container">
        <h1 class="text-center">@ViewBag.Setting.Title</h1>
        <p class="lead text-center">@Html.Raw(ViewBag.Setting.WelcomeText)</p>
    </div>
</header>
<!-- END Page header -->
<!-- Main container -->
<main>
    <section class="no-padding-top bg-alt">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="row">

                        <div class="col-xs-12">
                            <br />
                            <form role="form">
                                <input type="text" name="query" placeholder="Öğrenci adı, konumu, yetenekleri, vs. ara.." class="form-control" />
                            </form>
                        </div>

                    </div>
                </div>


                @foreach (Resume item in Model)
                {
                <!-- Devam Edilecek -->
                    <!-- Resume item -->
                    <div class="col-xs-12">
                        <div class="item-block">
                            <header>
                                <div class="col-md-pull-12">
                                    <a href="resume-detail.html"><img class="resume-avatar" src="/assets/img/avatar.jpg" alt=""></a>

                                    <div class="hgroup">
                                        <h4><a href="resume-detail.html">@(item.FirstName != null ? item.FirstName : string.Empty)  @(item.LastName != null ? item.LastName : string.Empty) </a></h4>
                                        <h5>@(item.Profession.Name != null?item.Profession.Name:string.Empty)</h5>
                                    </div>
                                    <div class="header-meta">
                                        <span class="location">@(item.City != null?item.City:string.Empty) / @(item.District != null ? item.District : string.Empty)</span>
                                        <span class="fa fa-graduation-cap"></span> <span> @(item.University.Name != null ? item.University.Name : string.Empty) - @(item.Department.Name != null ? item.Department.Name : string.Empty)</span>
                                    </div>
                                </div>

                                <p style="padding-top:10px">
                                 @{
                                     var now = DateTime.Now;
                                     int age = now.Year - item.BirthDate.Value.Year;
                                     if (now.Month < item.BirthDate.Value.Month || (now.Month == item.BirthDate.Value.Month && now.Day < item.BirthDate.Value.Day))
                                     { age--; }

                                }
                                    <b>Cinsiyet : </b> @Html.DisplayFor(modelItem => item.Gender)<br />
                                    <b> Yaş : @age</b> 


                                        <br />
                                    <b>   Yetenekler : </b> @(item.Skills != null ? item.Skills : string.Empty)
</p>

                                <br style="clear:both" />
                            </header>

                            <footer>
                                <p class="status"><strong>Güncellenme Tarihi:</strong>@item.UpdateDate</p>

                                <div class="action-btn">
                                    <a class="btn btn-xs btn-gray" href="#">CV İndir</a>
                                    <a class="btn btn-xs btn-gray"  href="./Admin/Resume/Edit?id=@item.Id">Düzenle</a>
                                    <a class="btn btn-xs btn-danger" href="./Admin/Resume/Delete?id=@item.Id">Yayından Kaldır</a>
                                </div>
                            </footer>
                        </div>
                    </div>
                <!-- END Resume item -->
                }


            </div>
        </div>
    </section>
</main>
<!-- END Main container -->