@model PagedList.Core.IPagedList<Resume>
@using PagedList.Core.Mvc
@{
    ViewData["Title"] = ViewBag.Setting.SeoTitle;
}

<!-- Page header -->
<header class="page-header bg-img size-lg">
    <div class="container">
        <h1 class="text-center">@ViewBag.Setting.Title</h1>
        <p class="small text-center">@Html.Raw(ViewBag.Setting.WelcomeText)</p>
    </div>
</header>
<!-- END Page header -->
<!-- Main container -->
<main>
    <section class="no-padding-top bg-alt">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="row">

                        <div class="col-xs-12">
                            <br />
                            <form role="form" asp-action="Index" asp-controller="Home" method="get" id="resumesForm">
                                <div class="input-group">
                                    <input type="text" name="query" id="query" value="@ViewBag.Query" placeholder="Özgeçmiş adı, konumu, yetkinlikleri, vs. ara.." class="form-control" />
                                    
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary" type="submit">Ara</button>
                                    </span>                                   
                                </div>
                                
                                <div class="text-right">
                                    @Html.DropDownList("Sirala", new SelectListItem[]
                               { new SelectListItem() { Text = "Güncel Olan Önce", Value = "0" }
                               , new SelectListItem() { Text="Ada Göre Artan", Value="1"}
                               , new SelectListItem() { Text = "Ada Göre Azalan", Value = "2" }
                               , new SelectListItem() { Text = "Konuma Göre Artan", Value = "3" }
                               , new SelectListItem() { Text = "Konuma Göre Azalan", Value = "4" }
                               , new SelectListItem() { Text = "Üniversite Adına Göre artan", Value = "5" }
                               , new SelectListItem() { Text = "Üniversite Adına Göre Azalan", Value = "6" }}
                               , new { @class = "form-control text-right pull-right", @onchange = "document.getElementById('resumesForm').submit();", @style="width:200px;" })
                                </div>
                                <div class="text-left">
                                    <small style="color:#cccccc;">Bulunan özgeçmiş sayısı: @Model.TotalItemCount</small>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
                <div id="searchResults">
                    @if (String.IsNullOrEmpty(ViewBag.Query) && Model.Count() == 0)
                    {
                        <div class="col-xs-12">
                            <div class="alert alert-danger">Sistemde yayında olan hiç özgeçmiş yok.</div>
                        </div>
                    }
                    else if (!String.IsNullOrEmpty(ViewBag.Query) && Model.Count() == 0)
                    {
                        <div class="col-xs-12">
                            <div class="alert alert-danger">Aradığınız özgeçmiş bulunamadı.</div>
                        </div>
                    }
                    @foreach (Resume item in Model)
                    {
                <!-- Devam Edilecek -->
                    <!-- Resume item -->
                        <div class="col-xs-12">
                            <div class="item-block">
                                <header>
                                    <div class="col-md-pull-12">

                                        @{if (item.ImagePath == null)
                                            {
                                                <img class="resume-avatar" src="/assets/img/avatar.jpg" alt="">

                                            }
                                            else
                                            {
                                                <img class="resume-avatar" src="/uploads/resumes/images/@item.ImagePath" alt="">

                                            }
                                        }

                                        <div class="hgroup">
                                            <h4>@(item.FirstName != null ? item.FirstName : string.Empty)  @(item.LastName != null ? item.LastName : string.Empty) </h4>
                                            <h5>@(item.Profession != null ? item.Profession.Name : string.Empty)</h5>
                                        </div>
                                        <div class="header-meta">
                                            <span class="location">@(item.City != null ? item.City.Name : string.Empty) / @(item.District != null ? item.District.Name : string.Empty)</span>
                                            <span class="fa fa-graduation-cap"></span> <span> @(item.University != null ? item.University.Name : string.Empty) - @(item.Department != null ? item.Department.Name : string.Empty)</span>
                                        </div>
                                    </div>

                                    <p style="padding-top:10px">
                                        @{
                                            int age;
                                            if (!item.BirthDate.HasValue)
                                            {
                                                age = 0;

                                            }
                                            else
                                            {

                                                var now = DateTime.Now;
                                                age = now.Year - item.BirthDate.Value.Year;
                                                if (now.Month < item.BirthDate.Value.Month || (now.Month == item.BirthDate.Value.Month && now.Day < item.BirthDate.Value.Day))
                                                {
                                                    age--;
                                                }
                                            }


                                        }
                                        <b>Cinsiyet : </b> @Html.DisplayFor(modelItem => item.Gender)<br />
                                        <b> Yaş : @(age == 0 ? string.Empty : age.ToString())</b>

                                        <br /><div class="tag-list">
                                                  <b>   Yetkinlikler : </b>
                                                 @{ List<string> skils = (!String.IsNullOrEmpty(item.Skills)?item.Skills.Split(',').ToList():new List<string>());
                                                     }
                                                       @foreach (var tag in skils)
                                                       {
                                                      <span><a href="/?query=@tag.Trim().ToLower()">@(tag.Trim() != null ? tag.Trim() : string.Empty)</a></span>
                                                       }
</div>
                                    </p>
                                </header>

                                <footer>
                                    <p class="status"><strong>Güncellenme Tarihi:</strong> @item.UpdateDate</p>
                                     @if (item.WithoutIncentives == true)
                                    { 
                                      <p class="status"><strong> &nbsp; Teşviksiz</strong></p>
                                    }

                                    @{
                                        if (User.IsInRole("Admin") == true)
                                        {
                                            <div class="action-btn">
                                                <a class="btn btn-xs btn-success" asp-action="DownloadResume" asp-controller="Home" asp-route-id="@item.Id">Cv İndir</a>
                                                <a class="btn btn-xs btn-gray" href="/Admin/Resume/Edit?id=@item.Id">Düzenle</a>
                                                <a class="btn btn-xs btn-danger" asp-action="HideInList" asp-controller="Home" asp-route-id="@item.Id">Yayından Kaldır</a>
                                            </div>

                                        }
                                        else
                                        {
                                            <div class="action-btn">
                                                <a class="btn btn-xs btn-success" asp-action="DownloadResume" asp-controller="Home" asp-route-id="@item.Id">Cv İndir</a>                                            
                                            </div>


                                        }

                                    }

                                </footer>
                            </div>
                        </div>
                <!-- END Resume item -->
                                        }
                    <br />

                </div>
                <div class="text-center">

                    <pager class="pager-container" list="@Model" options="@PagedListRenderOptions.ClassicPlusFirstAndLast" asp-action="Index" asp-controller="Home" />
                </div>
            </div>
        </div>
    </section>
</main>
<!-- END Main container -->