@model PagedList.Core.IPagedList<Resume>
@using PagedList.Core.Mvc
@{
    ViewData["Title"] = ViewBag.Setting.SeoTitle;
}

<!-- Page header -->
<header class="page-header bg-img size-lg">
    <div class="container">
        <h1 class="text-center">@ViewBag.Setting.Title</h1>
        <p class="small text-center">@Html.Raw(ViewBag.Setting.WelcomeText)</p>
    </div>
</header>
<!-- END Page header -->
<!-- Main container -->
<main>
    <section class="no-padding-top bg-alt">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="row">

                        <div class="col-xs-12">
                            <br />
                            <form role="form" asp-action="Index" asp-controller="Home" method="get">
                                <div class="input-group">
                                    <input type="text" name="query" id="query" value="@ViewBag.Query" placeholder="Özgeçmiş adı, konumu, yetenekleri, vs. ara.." class="form-control" />
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary" type="submit">Ara</button>
                                    </span>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
                <div id="searchResults">
                    @if (Model.Count() == 0)
                    {
                        <div class="col-xs-12">
                            <div class="alert alert-danger">Aradığınız özgeçmiş bulunamadı.</div>
                        </div>
                    }
                    @foreach (Resume item in Model)
                    {
                <!-- Devam Edilecek -->
                    <!-- Resume item -->
                        <div class="col-xs-12">
                            <div class="item-block">
                                <header>
                                    <div class="col-md-pull-12">

                                        @{if (item.ImagePath == null)
                                            {
                                                <img class="resume-avatar" src="/assets/img/avatar.jpg" alt="">

                                            }
                                            else
                                            {
                                                <img class="resume-avatar" src="~/uploads/resumes/images/@item.ImagePath" alt="">

                                            }
                                        }

                                        <div class="hgroup">
                                            <h4>@(item.FirstName != null ? item.FirstName : string.Empty)  @(item.LastName != null ? item.LastName : string.Empty) </h4>
                                            <h5>@(item.Profession != null ? item.Profession.Name : string.Empty)</h5>
                                        </div>
                                        <div class="header-meta">
                                            <span class="location">@(item.City != null ? item.City.Name : string.Empty) / @(item.District != null ? item.District.Name : string.Empty)</span>
                                            <span class="fa fa-graduation-cap"></span> <span> @(item.University != null ? item.University.Name : string.Empty) - @(item.Department != null ? item.Department.Name : string.Empty)</span>
                                        </div>
                                    </div>

                                    <p style="padding-top:10px">
                                        @{
                                            int age;
                                            if (!item.BirthDate.HasValue)
                                            {
                                                age = 0;

                                            }
                                            else
                                            {

                                                var now = DateTime.Now;
                                                age = now.Year - item.BirthDate.Value.Year;
                                                if (now.Month < item.BirthDate.Value.Month || (now.Month == item.BirthDate.Value.Month && now.Day < item.BirthDate.Value.Day))
                                                {
                                                    age--;
                                                }
                                            }


                                        }
                                        <b>Cinsiyet : </b> @Html.DisplayFor(modelItem => item.Gender)<br />
                                        <b> Yaş : @(age == 0 ? string.Empty : age.ToString())</b>

                                        <br /><div class="tag-list">
                                                  <b>   Yetenekler : </b>
                                                 @{ List<string> skils = (!String.IsNullOrEmpty(item.Skills)?item.Skills.Split(',').ToList():new List<string>());
                                                     }
                                                       @foreach (var tag in skils)
                                                       {
                                                      <span><a href="/?query=@tag.Trim().ToLower()">@(tag.Trim() != null ? tag.Trim() : string.Empty)</a></span>
                                                       }
</div>
                                    </p>
                                </header>

                                <footer>
                                    <p class="status"><strong>Güncellenme Tarihi:</strong>@item.UpdateDate</p>

                                    @{
                                        if (item.ResumeFile == null)
                                        {
                                            <div class="action-btn">
                                                <a class="btn btn-xs btn-gray" href="./Admin/Resume/Edit?id=@item.Id">Düzenle</a>
                                                <a class="btn btn-xs btn-danger" asp-action="HideInList" asp-controller="Home" asp-route-id="@item.Id">Yayından Kaldır</a>
                                            </div>

                                        }
                                        else
                                        {
                                            <div class="action-btn">
                                                <a class="btn btn-xs btn-success" asp-action="DownloadDetails" asp-controller="Home" asp-route-id="@item.Id">Cv İndir</a>
                                                <a class="btn btn-xs btn-gray" href="./Admin/Resume/Edit?id=@item.Id">Düzenle</a>
                                                <a class="btn btn-xs btn-danger" asp-action="HideInList" asp-controller="Home" asp-route-id="@item.Id">Yayından Kaldır</a>
                                            </div>


                                        }

                                    }

                                </footer>
                            </div>
                        </div>
                <!-- END Resume item -->
                                        }
                    <br />

                </div>
                <div class="text-center">

                    <pager class="pager-container" list="@Model" options="@PagedListRenderOptions.ClassicPlusFirstAndLast" asp-action="Index" asp-controller="Home" />
                </div>
            </div>
        </div>
    </section>
</main>
<!-- END Main container -->